.circle{
    border: 1px solid;
    border-radius: 50px
}

.bg{
    background-color: rgb(241, 241, 241);
}

.picbg{
    border-radius: 50px;
    background-color: white;
}

.infobg{
    border-radius: 5px;
    background-color: white;
}

.slidecurve{
    border-radius: 15px;
}

.noline{
    text-decoration: none;
}

.cdiscount{
    color: red;
}

.fa-cart-shopping{
    font-size: 25px;
    color: rgb(0, 0, 0);
}

.nav-profile-cart{
    position: relative;
}

.countcart{
    position: absolute;
    top: -15px;
    right: -15px;
    width: 23px;
    height: 23px;
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.pop{
    transition: 0.3s;
}

.pop :hover{
    transform: scale(1.03);
}