.circle{
    border: 1px solid;
    border-radius: 50px
}

.bg{
    background-color: rgb(241, 241, 241);
}

.picbg{
    border-radius: 50px;
    background-color: white;
}

.infobg{
    border-radius: 5px;
    background-color: white;
}

.slidecurve{
    border-radius: 15px;
}

.noline{
    text-decoration: none;
}

.cdiscount{
    color: red;
}

.fa-cart-shopping{
    font-size: 25px;
    color: rgb(0, 0, 0);
}

.nav-profile-cart{
    position: relative;
}

.countcart{
    position: absolute;
    top: -15px;
    right: -15px;
    width: 23px;
    height: 23px;
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.pop{
    transition: 0.3s;
}

.pop:hover{
    transform: scale(1.03);
}

.modalcart-content{
    display: flex   ;
    justify-content: space-between;
}

.modalcart-left{
    display: flex;
}

.modalcart-right{
    display: flex;
}

.modalcart-detail{
    font-size: 16px;
}

.modalcart-left img{
    width: 40%;
    height: 40%;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 10px;
}

.btnc{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    cursor: pointer;
}

.product-item{
    color: black;
}

.sidebar-t{
    width: 20%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.product-t{
    width: 80%;
    padding: 10px;
}

.box{
    width: 90vw;
    margin: 0 auto;
    display: flex;
}

.sidebar-item{
    background: rgb(247, 247, 247);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    color: black;
    transition: 0.3s;
}

.sidebar-item:hover{
    background: black;
    color: white;
}